<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"
	id="cordova-plugin-audio-player"
	version="2.1.4">
	<name>AudioPlayer</name>
	<keywords>cordova,music,controller,controls,media,plugin,notification,lockscreen,now,playing</keywords>
	<repo>https://github.com/Rolamix/cordova-plugin-audio-player</repo>
	<description>Native support for audio playlists, background support, and lock screen controls</description>
	<license>MIT</license>
	<author>Rolamix</author>

	<engines>
    <engine name="cordova" version=">=7.1.0"/>
    <engine name="cordova-android" version=">=7.1.0"/>
    <engine name="cordova-ios" version=">=4.5.0"/>
	</engines>

	<js-module src="www/RmxAudioPlayer.js" name="RmxAudioPlayer">
		<clobbers target="RmxAudioPlayer" />
	</js-module>

	<!-- android -->
	<platform name="android">
		<config-file target="res/xml/config.xml" parent="/*">
			<feature name="RmxAudioPlayer" >
				<param name="android-package" value="com.rolamix.plugins.RmxAudioPlayerHandler"/>
        <param name="onload" value="true" />
			</feature>
		</config-file>

    <config-file target="AndroidManifest.xml" parent="/manifest">
      <uses-permission android:name="android.permission.INTERNET"/>
      <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
      <!-- <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> -->
    </config-file>

    <dependency id="cordova-support-google-services" version="~1.1.0"/>

    <framework src="com.android.support:support-v4:27.0.2" />
    <framework src="com.android.support:appcompat-v7:27.0.2" />
    <framework src="com.devbrackets.android:exomedia:4.1.0" />
    <framework src="com.devbrackets.android:playlistcore:2.0.0" />
    <framework src="audio-player.gradle" custom="true" type="gradleReference"/>

		<source-file src="src/android/MusicControlsBroadcastReceiver.java" target-dir="src/com/rolamix/plugins" />
	</platform>

	<!-- ios -->
	<platform name="ios">
		<config-file target="config.xml" parent="/*">
			<feature name="RmxAudioPlayer">
				<param name="ios-package" value="RmxAudioPlayer" />
        <param name="onload" value="true" />
			</feature>
		</config-file>

    <framework src="MediaPlayer.framework" />
    <framework src="AVFoundation.framework" />

		<header-file src="src/ios/AudioTrack.h" />
    <header-file src="src/ios/AVBidirectionalQueuePlayer.h" />
    <header-file src="src/ios/Constants.h" />
		<header-file src="src/ios/MainViewController+RmxAudioPlayer.h" />
		<header-file src="src/ios/RmxAudioPlayer.h" />

		<source-file src="src/ios/AudioTrack.m" />
    <source-file src="src/ios/AVBidirectionalQueuePlayer.m" />
		<source-file src="src/ios/MainViewController+RmxAudioPlayer.m" />
		<source-file src="src/ios/RmxAudioPlayer.m" />
	</platform>

      <!-- browser -->
    <platform name="browser">
      <js-module src="www/browser/Media.js" name="RmxAudioPlayer">
        <clobbers target="RmxAudioPlayer" />
      </js-module>
    </platform>

</plugin>
